#fields {
float:right;
position:relative;
top:30%;
}
.error{
	color:red;
}
#errorstatus
{
	color:red;
}
input{
	background-color:white !important;
	padding:5px;
	
}

.header
{
	background-color:aqua;
}


